.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  font-size: 15px;
  background-color: black;
  color: rgb(181, 222, 238);
  font-family: "Encode Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: rgb(181, 222, 238);
    color: black;
    border: 1px solid black;
  }

  &.inverted {
    background-color: white;
    color: black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    padding: 0 30px 0 30px;

    &:hover {
      background-color: #2a64c2;
      border: none;
    }
  }
}
